.service-main{
    border:1px solid rgba(255,255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding:40px;
    margin-bottom:40px;
}
.icon{
    color:#fff;
    font-size:50px;
}
.service-text h2{
    color:#fff;
    font-size: 32px;
}
.service-text p{
    color:#fff;
    font-size: 16px;
}
.service-main:hover{
    background-color: #BC8CF2;
    transition:0.5s;
}