@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul{
  list-style:none;
}
a{
  text-decoration: none !important;
  display: inline-block !important;
}
img{
  vertical-align: middle;
  width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin:0;
  padding:0;
}
body{
  font-family: "Roboto Serif", serif !important; 
  background: #000 !important;
  overflow-x: hidden !important;

}